@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);


/* Scroll */

section {
	position: relative;
	width: 100%;
	height: 100%;
}
section::after {
	position: absolute;
	bottom: 0;
	left: 0;
	content: '';
	width: 100%;
	height: 80%;
}

.scroller a {
	position: absolute;
	bottom: 20px;
	left: 50%;
	z-index: 2;
	display: inline-block;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	color: #fff;
	font : normal 400 20px/1 'Josefin Sans', sans-serif;
	letter-spacing: .1em;
	text-decoration: none;
	transition: opacity .3s;
}
.scroller a:hover {
	opacity: .5;
}

#scroll_section a {
	padding-top: 60px;
}
#scroll_section a span {
	position: absolute;
	top: 0;
	left: 50%;
	width: 46px;
	height: 46px;
	margin-left: -23px;
	border: 1px solid #fff;
	border-radius: 100%;
	box-sizing: border-box;
}
#scroll_section a span::after {
	position: absolute;
	top: 50%;
	left: 50%;
	content: '';
	width: 16px;
	height: 16px;
	margin: -12px 0 0 -8px;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	box-sizing: border-box;
}
#scroll_section a span::before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	content: '';
	width: 44px;
	height: 44px;
	box-shadow: 0 0 0 0 rgba(255,255,255,.1);
	border-radius: 100%;
	opacity: 0;
	-webkit-animation: sdb03 3s infinite;
	animation: sdb03 3s infinite;
	box-sizing: border-box;
}
@-webkit-keyframes sdb03 {
	0% {
		opacity: 0;
	}
	30% {
		opacity: 1;
	}
	60% {
		box-shadow: 0 0 0 60px rgba(255,255,255,.1);
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@keyframes sdb03 {
	0% {
		opacity: 0;
	}
	30% {
		opacity: 1;
	}
	60% {
		box-shadow: 0 0 0 60px rgba(255,255,255,.1);
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

.scroller {
    float: left;
    top: 200px;
    right: 27px;
}

/* All */
* {
    color: #fff;
    font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
  }

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

#page-wrapper {
    background-color: #e4ebed;
    height: 100%;
}

/* Header */

.header {
    height: 100%;
    min-height: 600px;
    text-align: center;
    background: #e4ebed url('../img/bg.jpg') no-repeat center bottom;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
            scroll-behavior: smooth;
}

.overlay {
    width:100%;
    height:100%;
    min-height: 600px;
    position:absolute;
    background-color:#000;
    opacity:0.5;
}

.profile {
    height: 120px;
    margin-top: 70px;
    border: 3px solid white;
    border-radius: 50%;
}

.spec {
    margin-top: 0;
    line-height: 0.5;
    color: #ccc;
}

.social-block {
    padding-top: 50px;
    padding-bottom: 20px;
}

.socials {
    display: inline-block;
    padding: 0 35px;
    width: 140px;
    height: 60px;
    margin: 0 -4px;
    border-top: 1px solid #9cb2ba;
    text-transform: uppercase;
}

.socials .numbers {
    padding-top: 5px;
    margin-bottom: 5px;
    font-size: 24px;
}

.socials .descr,.numbers {
    color: #ccc;
}

.socials:first-child {
    border-right: 1px solid #9cb2ba;
}

.socials:last-child {
    border-left: 1px solid #9cb2ba;
}

/* Button block */

.button-block {
    padding-top: 50px;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    border: 1px solid white;
    margin: 0 15px;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}

.btn-circle.btn-xl {
    width: 60px;
    height: 60px;
    padding: 10px 16px;
    font-size: 22px;
    line-height: 1.33;
    border-radius: 30px;
}

.button-block  .btn-default {
    background-color: #9cb2ba;
}

.button-block  .btn-primary {
    background-color: #198de0;
}

.button-block  .btn-primary:hover {
    background-color: #417eb0;
}


.button-block  .btn-default:hover {
    background-color: #6f7f85;
}

/* Behaviour classes */

.fixed {
    position: fixed;
    right: 0;
}

.absolute_menu {
    position: absolute;
    right: 0;
    top: 695px;
}

.absolute {
    position: absolute;
}

.hidden {
    display: none;
}

/* Header bottom block */

.header_bottom {
    height: 60px;
    background-color: #fff;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
}

.header_bottom i.fa-linkedin-square {
    color: #ccc;
    font-size: 20px;
    margin: 20px 20px;
}

.header_bottom i.fa-linkedin-square a {
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
    vertical-align: middle;
    padding-left: 10px;
}

.header_bottom .contact_information {
    float: right;
    right: 0;
    margin: 13px 20px;
}

/* Content */

.content {
    background-color: #e4ebed;
    margin-top: 2px;
    padding-top: 40px;
    padding-bottom: 50px;
}

.content .small_block, .large_block {
    background-color: #fff;
    color: black;
    margin: 0 20px;
    padding: 0 30px 10px;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
}

.content section {
    margin: 10px 0;
}

.content span,p {
    color: black;
}

.content p {
    margin: 10px 0;
}

.content h5 {
    color: #ccc;
    margin: 5px 0;
}

.content h4 {
    padding: 10px 0;
}

.content h4,i {
    color: black;
}

.content .bg_job_title {
    font-weight: bold;
}

.content .bg_title i {
    margin-right: 5px;
}

.content .experience span {
    margin: 0 0 5px;
}

.content .experience .bg_company_title {
    cursor: pointer;
    margin: 0 0 5px;
}

.content .experience .bg_time {
    color: #ccc;
}

.content .experience .job-item {
    border-left: 2px solid #ccc;
    padding-left: 10px;
    margin: 0 10px 20px;
}

.content .contact .contact-block {
    margin: 0 10px 20px;
}

.content .contact .contact-block i {
    font-size: 20px;
    vertical-align: bottom;
    margin-right: 5px;
    color: #337ab7
}
.content .contact .contact-block .contact-item {
    display: block;
    margin-bottom: 7px;
}


/* Footer */

.footer {
    background-color: #fff;
    height: 100px;
}

.footer_menu {
    padding: 20px 20px;
    text-align: center;
}

.footer_menu li {
    display: inline-block;
    cursor: pointer;
    padding: 0 20px;
    border-right: 1px solid #337ab7;
}

.footer_menu li:last-child {
    border-right: none;
}

.copyright {
    text-align: center;
    color: #ccc;
}